body {
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  background-attachment: fixed;
  color: #666666;
  font-family: Verdana, Arial, sans-serif;
  margin: 0px;

}


header a {
    color: #FFFFFF;
    text-decoration: none; /* I added this line to remove the underline from the link in the header. This is not in the homework. */
}


header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
    grid-row:1/2;
    grid-column:2/-2;
}

header h1 {
    line-height: 140%;
    padding: 0.5rem;
    padding-left: 1em;
    background-image: url("utahtechlogo.svg");
    background-repeat: no-repeat;   
    background-position: right;        
    background-origin:content-box;
    margin: 0;
    color:#FFFFFF;
    text-decoration:none;
}


main {
     padding-left:  2rem;
     padding-right: 2rem;
     grid-row:4/5;
     grid-column: 2/-2;
     background-color:#ffffff;
}


nav {
    background-color: #F3F3F3;
    font-weight: bold;
    grid-row: 2/3;
    grid-column: 2/-2;
    background:#424242;
    position:sticky;
    top:0;
    

}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding:1rem 0 ;
    display: block;
    text-align:center;


}

nav a:hover {

    background:#BA1C21;
}


nav ul {
    margin:0px;
    padding:0px;
    display:flex;
    flex-flow: row nowrap;
    list-style: none;
}

nav ul li{
    width:100%;

}

h2 {
    color: #424242;
    font-family: Georgia, serif;

}

h3{
    color: #003058;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

footer {
    font-size: 0.70rem;
    font-style: italic;
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    grid-row: 5 / 6;
    grid-column:2/-2;
}

#wrapper {
   display: grid;
   grid-auto-rows: minmax(0px, auto);
   grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
   
   
}

#homehero {
    background-image:url("homehero.jpg");
    height: 300px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    grid-row:3/4;
    grid-column:2/-2;
}

#studenthero {
    background-image:url("studenthero.jpg");
    height: 300px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    grid-row:3/4;
    grid-column:2/-2;
}

#facultyhero {
    background-image:url("facultyhero.jpg");
    height: 300px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    grid-row:3/4;
    grid-column:2/-2;
}

*{
box-sizing: border-box;
}

main img {
float:right;
padding-left:2rem;

}