body {
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  background-attachment: fixed;
  color: #666666;
  font-family: Verdana, Arial, sans-serif;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
}

header h1 {
    line-height: 140%;
    padding: 0.5rem;
    padding-left: 1em;
    background-image: url("utahtechlogo.png");
    background-repeat: no-repeat;   
    background-position: right;        
    background-origin:content-box;
    margin-bottom: 0;
}

main {
     padding-left:  2rem;
     padding-right: 2rem;

}
nav {
    background-color: #F3F3F3;
    font-weight: bold;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}

nav a {
    text-decoration: none;

}

h2 {
    color: #424242;
    font-family: Georgia, serif;

}

h3{
    color: #003058;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

footer {
    font-size: 0.70rem;
    font-style: italic;
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
}

#wrapper {
    background-color:#ffffff;
    width:80%;
    min-width: 960px;
    max-width: 2048px;
    margin-right: auto;
    margin-left: auto;
    box-shadow:0px 3px 3px rgba(66,66,66,0.3);
}

#homehero {
    background-image:url("homehero.jpg");
    height: 300px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

#studenthero {
    background-image:url("studenthero.jpg");
    height: 300px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

#facultyhero {
    background-image:url("facultyhero.jpg");
    height: 300px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}